.flex{
    display: flex;
}
.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.btn{
    padding: 10px 15px ;
    font-size: 1rem;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
}

.btn-primary{
    background: var(--primary);
    color: black;
    text-transform: uppercase;
    transition: .4s;
}

.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.flex-1{
    flex: 1;
}

.btn-second{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
    transition: .4s;
}

.btn-second:hover{
    background: var(--primary);
    border-color: var(--primary);
    color: rgb(0, 0, 0);
    
}